<table>
    <thead>
    <table class="table">
        <tbody>
        <tr>
            <td class="col-md-2">Nome Completo</th>
            <td class="col-md-10">{{ profile.username | capitalize }}</td>
        </tr>
        <tr>
            <td class="col-md-2">Email</th>
            <td class="col-md-10 pull">{{ profile.email }}</td>
        </tr>
        </tbody>
    </table>
    </thead>
</table>