body {
  font-family: "Lato", sans-serif;
}

//SideBar

.sidenav {
  height: 100%;
  width: 280px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3d4a5d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
  ul{
    width: 280px;
  }
}

.sidenav a {
  text-decoration: none;
  font-size: 15px;
  color: #bbb;
  display: block;
  transition: 0.3s;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sidenav a:hover {
  color: #ffffff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#mySidenav{
  margin-top: 50px;
}

#open{
  padding-left: 0px;
  padding-right: 30px;
  position: static;
}

#open-icon{
  padding-left: 0px;
  color: inherit;
  &:hover{
    text-decoration: none;
  }
}

.navbar-expand-lg{
  background-color: #3d4a5d;
}

.navbar-expand-lg{
  height: 50px
}

.nav-icon{
  padding: 0 8px;
  font-size: 15px;
}

.sidenav{
  .nav-item{
    padding: 0px;
    border-bottom: #2d3745 0.03px solid;
  }
}

.sidenav a{
  padding: 10px;
}

.sidenav ul{
  padding: 0;
}

.submenu a{
  font-size: 14px;
}

.submenu li{
  padding: 0 30px;
  border-top: #2d3745 0.03px solid;
}

.submenu{
  padding: 0;
  margin: 0;
  background-color: #354151;
}

//Principal
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#main {
  transition: margin-left .5s;
  padding-left: 30px;
  padding-top: 30px;
  margin-left: 280px;
}

//navbar

#categories{
  padding-left: 50px;
  a{
    font-size: 15px;
    text-decoration: none;
    padding: 0 40px;
  }
}

#categories-dropdown{
  margin-left: 290px;
  border-left: 100px;
  background-color: #f7f7f7;
  border-top: 2px #f0ad4e solid;
  z-index: 1;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.categories-items{
  ul{
    list-style-type: none;
  }
  a{
    text-decoration: none;
    color: dimgray;
    font-size: 15px;
    &:hover{
      color: darkgray;
    }
  }
  .categories-header{
    font-size: 15px;
  }
  div{
    border-left: lightgray 1px solid;
    padding-right: 10px;

  }
}

.select2-container *:focus {
  outline: none;
}

//breadcrumbs
.breadcrumb{
  background-color: white;
  margin: 0;
  li{
    span{
      font-size: 14px;
      font-family: Arial,sans-serif;
      }
    a{
      &:hover{
        text-decoration: none;
      }
    }
  }
}

.actions{
  float: right;
}

hr{
  margin: 0;
}

.fa-home{
  background-color: #f5f5f5;
  font-size: 20px;
  padding: 5px;
  color: #3d4a5d;
  border-radius: 100%;
}

.separator{
  padding-right: 2px;
}

//colors

.purple{
  background-color: #563d7c;
  color: white;
}


//elements

.element{
  background-color: #f5f5f5;
  padding: 10px;
  margin: 20px 0;
}

.film-object{
  padding: 20px 50px;
}

//teste border

.border{
  border: 1px solid;
}

//filter
.subject-card{
  padding: 2px;
  background-color: white;
}

.main-header{
  padding: 8px 12px;
}

.filter-title{
  font-size: 18px;
}

//general
.fa-download{
  padding-left: 0;
  padding-right: 10px;
  color: limegreen;
}