<div class="row" >
    <div class="collapse col-md-5" id="categories-dropdown" style="position: fixed">
        <div class="row categories-items">
            <div class="col-md-4">
                <ul>
                    <li class="categories-header">Disciplinas</li><br />
                    <li><a href="#">Artes</a></li>
                    <li><a href="#">Biologia</a></li>
                    <li><a href="#">Ciências</a></li>
                    <li><a href="#">Educação Física</a></li>
                    <li><a href="#">Espanhol</a></li>
                    <li><a href="#">Física</a></li>
                    <li><a href="#">Geografia</a></li>
                    <li><a href="#">História</a></li>
                    <li><a href="#">Inglês</a></li>
                    <li><a href="#">Literatura</a></li>
                    <li><a href="#">Matemática</a></li>
                    <li><a href="#">Português</a></li>
                    <li><a href="#">Química</a></li>
                    <li><a href="#">Sociologia</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li class="categories-header">Materiais Pedagógicos</li>
                    <li><a href="#">Questões</a></li>
                    <li><a href="#">Slides</a></li>
                    <li><a href="#">Planos de Aula</a></li>
                    <li><a href="#">Projetos Políticos Pedagógicos</a></li>
                    <li><a href="#">Planos de Aula</a></li>
                    <li><a href="#">Projetos Escolares</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li class="categories-header">Outros Assuntos</li><br />
                    <li><a href="#">Alimentação</a></li>
                    <li><a href="#">Notícias</a></li>
                    <li><a href="#">Saúde</a></li>
                    <li><a href="#">Esportes</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>