{% extends 'base.html.twig' %}


{% block form %}
    {% block body %}
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
            <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-info mt-2">
                        Salvar
                    </button>
                    {{ form_end(form) }}
                </div>
    {% endblock %}
{% endblock %}