{% extends 'base.html.twig' %}


{% block form %}
    {% block content %}
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        <div class="col-md-10">
        {{ form_start(form) }}
            <div class="h3">
                <h3 class="text-dark">Editar Série</h3>
            </div><br/>
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-info mt-2">
                Salvar
            </button>
        {{ form_end(form) }}

        </div>

    {% endblock %}
{% endblock %}

